form {
    max-width: 62rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-inline: .5rem;
    gap: .5rem;
}

.formSearch {
    display: flex;
    align-items: center;
    background-color: var(--input-bg);
    max-width: 62rem;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
}

form input[type="text"] {
    flex: 1;
    background: var(--input-bg);
    color: var(--text-primary);
    border: var(--text-primary);
    outline: none;
    /* padding: 0.75rem 0.5rem; */
    font-size: 1rem;
    font-family: inherit; 
}

.searchFilters{
    display: flex;
    max-width: 62rem;
    width: 100%;
    align-self: center;
    gap: .5rem;

    select{
        background-color: var(--primary);
        color: var(--text-primary);
        padding: .5rem;
        border-radius: .5rem;
        border: none;
        font-size: 1rem;
    }
}