.pagination{
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-block: 2rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        text-decoration: none;
        color: var(--text-primary);
        border-radius: .3rem;
        transition: all .3s;

        &:hover {
            background-color: var(--text-primary);
        }
    }
}

.isActive{
            background-color: var(--primary-light);
            color: var(--text-primary);
            pointer-events: none;
        }